# Environment Variables
.env
*/.env

# Generated Garbage Data
.DS_Store
*/.DS_Store

# Virtual Environment Configuration Data
.venv/
*/.venv/

# Project Development Deliverable Tracking Notes
OBJECTIVES.md
*/OBJECTIVES.md